<div>
    <p><i>报表由&nbsp;electricity-monitor&nbsp;于&nbsp;${generate_time}&nbsp;(GMT)自动生成。</i></p>
</div>
<div>
    <p>${information}</p>
</div>
<div>
    <p><strong>当前&nbsp;${dormitory}&nbsp;的用电情况：</strong></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;剩余电量：${remaining}&nbsp;kWh（包含免费电量&nbsp;${freeEnd}&nbsp;kWh）</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;电压/电流/功率/功率因数：${vTotal}&nbsp;V,&nbsp;${iTotal}&nbsp;A,&nbsp;${pTotal}&nbsp;W,&nbsp;${cosTotal}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;预计用尽时间：${expected_to_use_up}</p>
</div>
<hr align="left" style="width:600px" />
<div>
    <p><strong>最近&nbsp;7&nbsp;天消耗电量：${usage_of_last_7_days}&nbsp;kWh</strong></p>
    <p>最大：${max_usage_of_last_7_days}&nbsp;kWh（${max_usage_time}）</p>
    <p>最小：${min_usage_of_last_7_days}&nbsp;kWh（${min_usage_time}）</p>
    <p>平均：${average_usage_of_last_7_days}&nbsp;kWh</p>
    <p><img src="cid:0" /></p>
</div>
<hr align="left" style="width:600px" />
<div>
    <p><strong>最近&nbsp;7&nbsp;天每小时平均功率</strong></p>
    <p>最大：${max_average_power_of_last_7_days}&nbsp;W（${max_power_time}）</p>
    <p>最小：${min_average_power_of_last_7_days}&nbsp;W（${min_power_time}）</p>
    <p>平均：${average_power_of_last_7_days}&nbsp;W</p>
    <p><img src="cid:1" /></p>
</div>